.page{
    width: 100%;
    height: 1000px;
    color: white;
}

.header{
    width: 90%;
    height: 75px;
    margin-left: 5%;
    background: black;
    display: flex;
}

.header__logo{
    width: 15%;
    height: 100%;
    background: black;
}

.header__recalls{
    width: 45%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-left: 1px solid white;
}

.header__buttons{
    width: 40%;
    height: 100%;
    border-left: 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

@media (width <= 600px) {
    .header{
        width: 100%;
        height: 30vh;
        margin: 0;
        flex-direction: column;
    }
    .header__logo{
        width: 100%;
    }
    .header__recalls{
        width: 100%;
        border: none;
        border-top: 1px solid white;
    }
    .header__buttons{
        width: 100%;
        border: none;
        border-top: 1px solid white;
    }
}

@media (width <= 400px) {
    .header{
    }
    .header__logo{

    }
    .header__recalls{
        height: 200%;
        flex-direction: column;
    }
    .header__buttons{
        height: 200%;
        flex-direction: column;    }
}