.page{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.header{
    margin: auto;
    width: 100%;
    height: 975px;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.header__logo{
    margin-left: 30px;
    margin-top: 28px;
    margin-bottom: 28px;
    object-fit: cover;
    width: 204px;
    height: 63px;
    border: 1px solid green;
}

.header__navs{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__navigation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid white;
}

.header__title-block{
        position: relative;
}

.header__nav{
    margin-top: 50px;
    margin-bottom: 46px;
    font-size: 24px;
    line-height: 20px;
    letter-spacing: -1px;
    color: white;
    font-weight: 400;
}
.header__navs1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 521px;
    border-left: 1px solid white;
    color: white;
}

.header__nav-lang{
    margin-top: 48px;
    margin-bottom: 48px;
    margin-left: 80px;
    width: 32px;
    height: 23px;
    color: white;
}

.header__nav-but{
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 254px;
    height: 59px;
    border-radius: 10px;
background: var(--main-blue, #2E2BD0);
color: white;
}

.header__nav-but:hover{
    background: darkred;
    transition: 0.5s;
}

.header__title{
    position: absolute;
    margin-top: 296px;
    margin-left: 150px;
    width: 892px;
    height: 130px;
    color: var(--main-white, #FFF);
font-size: 50px;
font-weight: 800;
line-height: 130%; /* 65px */
}

.header__title-line{
    position: absolute;
    margin-top: 328px;
    margin-left: 150px;
    width: 876px;
height: 65px;
background: var(--main-blue, #2E2BD0);
}

.header__but{
    font-family: 'Playpen Sans', cursive;
    margin-top: 526px;
    margin-left: 150px;
    margin-bottom: 50px;
    width: 280px;
    height: 280px;
    border-radius: 360px;
    background: none;
    border: 1px solid white;
    color: white;
}

.header__but:hover{
    background: yellow;
    color: black;
    transition: 0.5s;
}

.OurGoals{
    margin: auto;
    width: 100%;
    height: 1656px;
}

.title_text{
    width: 609px;
    height: 58px;
    margin-top: 50px;
    margin-left: 150px;
    margin-bottom: 100px;
    color: var(--main-light, #2F353F);
font-size: 60px;
font-weight: 400;
}

.sections{
    margin:auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.section{
    margin-top: 50px;
    text-align: center;
    height: 550px;
}

.section:hover{
    color: white;
    background: rgb(29, 31, 45);
    border-radius: 70px;
    box-shadow: 4px 4px 30px rgba(15, 15, 17, 0.842);
    transition: 0.5s;
}

.img{
    width: 500px;
    height: 450px;
    border-radius: 70px;
}

.under-text{
    margin-top: 10px;
    height: 50px;
    font-size: 33px;
    font-weight: 900;
}

.main{
    margin: auto;
    margin-top: 60px;
    width: 100%;
    height: 618px;
}

.title{
    width: 400px;
    height: 90px;
    margin-left: 150px;
    color: var(--main-light, #2F353F);
font-size: 60px;
}

.industries{
    display: flex;
justify-content: space-between;
}

.industries__block{
    margin-top: 100px;
    width: 450px;
    height: 460px;
}

.ind__bl__icon{
width: 100px;
height: 100px;
}

.ind__bl__title{
    color: var(--main-light, #2F353F);
    font-size: 40px;
    line-height: 150%; /* 60px */
    margin-top: 40px;
    margin-bottom: 40px;
}

.ind__bl__line{
    width: 100%;
border: 1px solid black;
}

.ind__bl__text{
    width: 450px;
    height: 180px;
    margin-top: 40px;
}

.footer{
    margin: auto;
    margin-top: 60px;
    width: 1024px;
    height: 160px;
}

@media (max-width: 320px) {
    .page{
        width: 100%;
    }
    .header{
        width: 100%;
    }
    .header__logo{
        width: 20%;
    }
    .header__nav{
        width: 40%;
    }
    .header__nav1{
        width: 40%;
    }
    .header__title-block{
        margin: auto;
        margin-top: 885px;
        height: 624px;
    }
    .header__title{
        margin: auto;
        height: 624px;
    }
    .header__navs{
        display: flex;
        flex-direction: column;
    }
    .header__navs1{
        display: flex;
        flex-direction: column;
    }
}